.sectionPadding {
  padding: 0em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection {
  min-height: 80vh;
}

.whySection {
  max-width: 1200px;
  width: 100%;
  min-height: 69em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whySectionText {
  max-width: 60em;
  width: 100%;
}

.blocksSection {
  min-height: 92em;
  width: 100%;
  background-color: var(--gray-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocksText {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}

.blocksHeading {
  max-width: 49em;
}

.blocksSubHeading {
  max-width: 52em;
}

.docsLink {
  cursor: pointer;
  transition: .15s linear all;
  & > span {
    transition: .15s linear all;
  }
  &:hover {
    opacity: 0.8;
    & > span {
      margin-left: 0.2em;
    }
  }
}