.sectionPadding {
  padding: 0em 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroSection {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whySection {
  max-width: 1400px;
  width: 100%;
  min-height: 69em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    padding: 10em 0em;
    gap: 5em;
    & > img {
      padding: 0em 3em;
      max-width: 100%;
    }
    @media only screen and (min-width: 600px) {
      gap: 10em;
      & > img {
        margin-right: calc(1vw + 6em);
      }
    }
  }
}

.whySectionText {
  max-width: 60em;
  width: 100%;
}

.blocksSection {
  min-height: 92em;
  width: 100%;
  background-color: var(--gray-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocksText {
  display: flex;
  max-width: 1400px;
  width: 100%;
  justify-content: space-between;
  padding: 0em 3em;
  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.blocksHeading {
  max-width: 64em;
}

.blocksSubHeading {
  max-width: 60em;
}

.docsLink {
  cursor: pointer;
  transition: .15s linear all;
  & > span {
    transition: .15s linear all;
  }
  &:hover {
    opacity: 0.8;
    & > span {
      margin-left: 0.2em;
    }
  }
}


.navbar {
  width: 100%;
  height: 4.5em;
  border-bottom: 0.1em solid var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarContent {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 0em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navButton {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 132.02%;
  text-align: center;
  color: var(--gray-500);
  background: none;
  outline: none;
  border: 0.1em solid var(--gray-400);
  border-radius: 2.5em;
  width: 13.4em;
  height: 2.8em;
  padding: 0em;
  cursor: pointer;
  transition: .2s linear all;
  &:hover {
    border: 0.1em solid var(--gray-600);
    color: var(--gray-700);
  }
  @media only screen and (max-width: 540px) {
    display: none;
  }
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
  & > a {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 132.02%;
    text-align: center;
    color: var(--gray-500);
    text-decoration: none;
    transition: .2s linear all;
    &:hover {
      color: var(--gray-700);
    }
  }
}

.legosSection {
  width: 100%;
  background-color: var(--gray-50);
  display: flex;
  justify-content: center;
}

.heroContent {
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  @media only screen and (max-width: 1540px) {
    flex-direction: column-reverse;
  }
}

.heroContentLeft {
  max-width: 42rem;
  @media only screen and (max-width: 600px) {
    transform: scale(0.85);
  }
}

.heroButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
  margin-top: 3em;
  @media only screen and (min-width: 1000px) {
    margin-bottom: 10em;
  }
  & > button {
    width: 13.5em;
    height: 3.5em;
    border-radius: 3.6em;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 132.02%;
    text-align: center;
    transition: 0.15s linear all;
    cursor: pointer;
    &:is(:first-child) {
      border: none;
      background-color: var(--gray-800);
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
    &:is(:last-child) {
      border: 0.1em solid var(--gray-800);
      background: none;
      color: var(--gray-800);
      &:hover {
        background-color: var(--gray-100);
        color: var(--gray-900);
      }
    }
  }

}

.heroAnimation {
  width: calc(23vw + 33rem);
  height: calc(23vw + 33rem);
  pointer-events: none;
  @media only screen and (min-width: 1540px) {
    position: absolute;
    right: 0;
  }
  @media only screen and (max-width: 1200px) {
    width: 100%;
    height: 100%;
  }
}

.footer {
  width: 100%;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContent {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 0em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legoContent {
  padding: 10em 3em;
  max-width: 1400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.legoText {
  max-width: 65em;
  text-align: center;
}

.legoImage {
  & > img {
    max-width: 100%;
    height: auto;
  }
}